@media screen and (min-widht: 780px) and (max-widht: 1024px) {
    .encabezado {
        background-color: rgb(246, 246, 243);
    }
    .contenido, .contenido-lateral{
        width: 50%;
    }
}


@media screen and (min-width: 480px) and (max-widht: 780px) {
    .encabezado {
        background-color: rgb(246, 246, 243);
    }
    .contenido, .contenido-lateral {
        width: 100%;
    }
}



@media screen and (max-width: 480px) { 
    .encabezado {
        height: 80px;
    }

    .contenido{
        background-color: rgb(250, 250, 168);
    }

    .contenido, .contenido-lateral{
        width: 100%;
    }

    

}